<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
        <form action="/blog/add" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" name="title" class="form-control" id="title" required>
            </div>
            <div class="mb-3">
              <label for="coverImage" class="form-label">Cover Image</label>
              <input type="file" class="form-control" name="coverImage" id="coverImage">
            </div>
            <div class="form-floating">
                <textarea name="body" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" required></textarea>
                <label for="floatingTextarea2">Body</label>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
          </form>
    </div>

    <%- include('./partials/script') %>
</body>
</html>
